body.woocommerce-checkout {
    
    .site-content {
        padding: 0 15px;
    }
    
    h1 {
        @include screen-reader-text();
    }
    
    /* Woocommerce info */
    .woocommerce-info {
        background: #f3f3f3;
        padding: 20px 15px;
        text-align: center;
        margin-top: 30px;
        
        a {
            display: block;
        }
    }
    
    .woocommerce-checkout-payment {
        padding: 20px 15px;
        background: #f3f3f3;
        
        ul {
            
            li {
                margin-bottom: 10px;
                
                &:before {
                    display: none;
                }
            }
        }
        
        .payment_method_ppec_paypal {
            
            img {
                vertical-align: middle;
            }
        }
        
        fieldset {
            border: none;
        }
        
        button {
            display: block;
            width: 100%;
        }
    }
    
    h3 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: 48em) {

        article.page {
            
            form.woocommerce-checkout:after {
                @include clearfix();
                @include clearfix-after();
            }
            
            #customer_details {
                width: 49%;
                float: left;
            }

            #order_review {
                width: 49%;
                float: right;
                clear: right;
            }
        }
    }
}

#checkout_heading {
    text-align: center;
    font-weight: bold;
    
    &:before {
        font-family: "icons-set";
        content: "\e90f";
        font-size: .8em;
        margin-right: 10px;
    }
}

.checkout-warranty {
    clear: both;
    margin: 30px auto;
}

i.stripe-pf-mastercard,
i.stripe-pf-american-express,
i.stripe-pf-visa {
    
    &:before {
        content: "";
        height: 25px;
        width: 40px;
        display: inline-block;
        background-size: contain;
        margin-left: 2px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

i.stripe-pf-mastercard {
    
    &:before {
        background-image: url(../images/mastercard.png);
    }
}

i.stripe-pf-american-express {
    
    &:before {
        background-image: url(../images/american-express.jpeg);
        width: 25px;
    }
}

i.stripe-pf-visa {

   &:before {
        background-image: url(../images/visa.png);
    }
}