.woocommerce {
    
    table {
        width: 100%;
        
        tbody {
            
            td {
                padding: 25px 12px;
            }
        }
        
        tfoot {
            background: #f5f5f5;
            
            tr:first-of-type {
                
                th, td {
                    border-top: none;
                }
            }
        }
    }
}