.woocommerce {
    
    table {
        width: 100%;
        
        tbody {
            
            td {
                padding: 25px 12px;
            }
        }
        
        .chained_item td {
            padding: 15px 12px;
        }
        
        tfoot {
            background: #f5f5f5;
            
            tr:first-of-type {
                
                th, td {
                    border-top: none;
                }
            }
        }
    }
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    
    del {
        position: relative;
        padding: 0 10px;
        text-decoration: none;
        
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #B53535;
            -webkit-transform: rotate(-17deg) translateX(-50%);
            transform: rotate(-17deg) translateX(-50%);
            top: 0;
            left: 50%;
        }
    }
    
    ins {
        color: #8bc53f;
        background: none;
    }
}

/*---------- Breadcrumbs ---------*/
.woocommerce-breadcrumb {
    background: #f5f5f5;
    padding: 10px 15px;
    margin: 20px 0;
    font-size: .9em;
}

/*---------- Forms ---------*/
.woocommerce form {
    
    .form-row-first,
    .form-row-last {
        width: 100%;
    }
    
    @media screen and (min-width: 64em) {
        
        .form-row-wide {
            clear: both;
        }
        
        .form-row-first,
        .form-row-last {
            width: 49%;
        }
        
        .form-row-first {
            float: left;
        }
        
        .form-row-last {
            float: right;
        }
    }
}

/*---------- Tabs ---------*/
.woocommerce-tabs {
    clear: both;
    padding: 20px 0;
    
    ul.tabs {
        border-bottom: 1px solid #f0f0f0;
            
        li {
            display: inline-block;
            margin: 0 2px;
            position: relative;
            bottom: -1px;
            
            a {
                text-decoration: none;
                padding: 10px 15px;
                background: #aaa;
                color: #fff;
                display: block;
            }
          
            &:before {
              display: none;
            }
            
            &.active {
                box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
                margin: 0;
                border-bottom: 1px solid #fff;
                
                a {
                    background: #fff;
                    color: #aaa;
                }
            }
        }  
    }
}

/*---------- Tables ---------*/
.woocommerce table {
    border-radius: 0;
    border: 1px solid #f5f5f5;
    text-align: left;
    
    tr {
        border-top: 1px solid #f5f5f5;
    }
    
    th, td {
        padding: 15px 10px;
        border-right: 1px solid #f5f5f5;
        
        &:last-child {
            border-right: none;
        }
    }
    
    thead, tfoot {
        font-weight: bold;
    }
    
    tbody {
        background: #fff;
        
        tr:nth-of-type(even) {
            background: #fbfbfb;
        }
    }
    
    tfoot {
        background: #f7f7f7;
        
        td, th {
            padding: 15px 10px;
            border-right: 1px solid #f0f0f0;
            
            &:last-child {
                border-right: none;
            }
        }
    }
    
    &.shop_table_responsive {
        font-size: .9em;
        
        thead {
            display: none;
        }
        
        tbody {

            tr {
                border-top: 1px solid #ddd;
                display: block;
                
                &:first-of-type {
                    border-top: none;
                }
                
                td {
                    padding: 0;
                    position: relative;
                    padding: 10px 15px;
                    border-top: 1px solid #f5f5f5;
                    padding-left: 50%;
                    display: block;
                    text-align: right;
                    vertical-align: middle;
                                    
                    &:before {
                        content: attr(data-title) ": ";
                        font-weight: 700;
                        float: left;
                        width: 50%;
                        text-align: left;
                        background: #f5f5f5;
                        position: absolute;
                        padding: 10px 15px;
                        left: 0;
                        top: 0;
                        bottom: 0;
                    }
                }
            }
            
            .woocommerce-button {
                background: none;
                box-shadow: none;
                border-radius: 0;
                color: #f05a24;
                text-transform: none;
                padding: 0;
                display: block;
                text-align: right;
            }
        }
        
        @media screen and (min-width: 48em) {
            
            thead {
                display: table-header-group;
            }
            
            thead, tr, tfoot {
                width: 100%;
            }
            
            tbody {
                
                tr {
                    display: table-row;
                
                    td {
                        display: table-cell;
                        padding-left: 0;
                        text-align: left;
                        padding: 10px;
                        
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.woocommerce-checkout-payment {
    padding: 20px 25px;
}

/*---------- Product cards ---------*/
.woocommerce ul.products,
.product-page-list {
    padding: 0 15px;
    
    &:after {
        @include clearfix();
        @include clearfix-after();
    }
}

.woocommerce .products .product,
.product-page-list .post-thumb {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    background: #fff;
    width: 100%;
    padding: 20px 15px 30px;
    margin: 20px 0;

    a {
        text-decoration: none;
    }
    
    img {
       height: 300px;
       width: 100%;
       object-fit: contain;
       border-bottom: 1px solid #ddd;
       padding-bottom: 10px;
    }
    
    .price {
        display: block;
        margin: 10px auto;
    }
    
    .button {
        display: block;
        margin: 20px 0 0;
    }
    
    @media screen and (min-width: 48em) {
        width: 49%;
        float: left;
        margin: 0 0 20px;
        
        &:nth-of-type(2n + 2) {
            margin-left: 2%;
            clear: right;
        }
    }
}

.woocommerce .products .product {
    position: relative;
    
    &:before {
        display: none;    
    }
    
    .woocommerce-loop-product__title {
        text-align: left;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    p {
        margin: 0;
    }

    @media screen and (min-width: 64em) {
        width: 32%;
        
        &:nth-of-type(2n + 2) {
            margin-left: 0;
            clear: none;
        }
        
        &:nth-of-type(3n + 2) {
            margin: 0 2%;
        }
        
        &:nth-of-type(3n + 3) {
            clear: right;
        }
    }
}

.woocommerce-MyAccount-content .products  {
    margin-top: 0;
    
    .product {

        @media screen and (min-width: 64em) {
            width: 49%;
            float: left;
            margin: 0 0 20px;
            
            &:nth-of-type(2n + 2) {
                margin-left: 2%;
                margin-right: 0;
                clear: right;
            }
        }
    }
}

.product-page-list .post-thumb {

    .entry-header {
        padding: 0;
        
        h2 {
            text-align: left;
        }
    }
    
    .entry-title {
        font-size: 1.4rem;
    }
}

/*--------- Coupon form ---------*/
.woocommerce .checkout_coupon,
.woocommerce .coupon {
    background: #f7f7f7;
    text-align: center;
    padding: 15px;
    
    p {
        margin: 0;
    }
    
    label {
        margin-bottom: 5px;
    }
    
    .button {
        margin: 20px auto 10px;
        font-size: 1rem;
        padding: .5rem 1rem;
    }
    
    @media screen and (min-width: 64em) {
        text-align: left;
        padding: 30px 25px;
        
        input[type="text"] {
            width: 400px;
        }
        
        .form-row-first,
        .form-row-last {
            width: auto;
            float: left;
        }
        
        .button {
            margin: 0 0 0 10px;
        }
    }
}

/*----- Bonuses -----*/

.woocommerce .chained_items_container {
    padding: 0 15px;
    counter-reset: bonus-count;
    
    .product {
    	position: relative;
    	margin: 50px 15px;
    	padding: 30px 20px 0;
    	max-width: 800px;
    	box-shadow: none;
    	margin-top: 0;
        counter-increment: bonus-count;
        background: #f4f4f4;
    	
    	img {
    		margin: 0 auto;
    		max-width: 300px;
    	}
    	
    	&:before {
    	    content: "Bonus " counter(bonus-count);
    		position: absolute;
    		top: -20px;
    		display: block;
    		height: 40px;
    		line-height: 40px;
    		color: #fff;
    		text-transform: uppercase;
    		font-weight: bold;
    		font-size: 30px;
    		padding: 0 10px;
    		left: 55px;
    		background: #aaa;
    	}
    	
		.woocommerce-loop-product__title {
			font-size: 1.8em;
			text-transform: uppercase;
			font-weight: bold;
			line-height: normal;
			margin-bottom: 10px;
			line-height: 1em;
			text-align: center;
		}
    	
    	p {
    		margin-top: 5px;
    	}
    	
    	.price {
    		font-weight: bold;
    		text-transform: uppercase;
    		text-align: center;
    		font-size: 1.3em;
    		
    		del {
    			display: block;
    			color: #9f9f9f;
    			position: relative;
    			font-size: 1.5em;
    			width: 4em;
    			margin: 0 auto;
    			
    			&:after {
    				content: "";
    				display: block;
    				position: absolute;
    				height: 2px;
    				width: 100%;
    				transform: rotate(-17deg) translateX(-50%);
    				top: 0;
    				left: 50%;
    			}
    		}
    	}
    	
		.free-label {
			color: #fff;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			padding: 8px;
			position: relative;
			display: block;
			margin-left: -20px;
			margin-right: -20px;
			text-transform: uppercase;
			box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
			margin-top: 30px;
			background: #8bc53f;
		}
    	
    	@media screen and (min-width: 48em) {
    		max-width: 48em;
    		margin: 50px auto;
    	}
    	
    	@media screen and (min-width: 64em) {
    		width: 30%;
    		float: left;
    		margin: 50px 1%;
    		
    		img {
    			height: 300px;
    			max-width: 100%;
    			object-fit: contain;
    		}
    		
            &:nth-of-type(2n + 2) {
                margin-top: 50px;
            }
    	}
    }
}