#woocommerce-login {
    max-width: 600px;
    margin: 20px auto 60px;
    padding: 25px;
    position: relative;
    font-size: .9em;
    
    h2 {
        font-size: 2.3em;
    }
    
    ul {
        
        li {
            
            &:before {
                content: "";
                width: 5px;
                height: 5px;
                display: inline-block;
                border-radius: 5px;
                position: relative;
                bottom: .2em;
            }
        }
    }
    
    .lost_password {
        text-align: center;
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        width: 100%;
    }
    
    @media screen and (min-width: 48em) {
        padding: 25px 50px;   
    }
}

form.register {
    max-width: 600px;
    margin: 0 auto 25px;
    
    .form-row {
        text-align: center;
    }
    
    label {
        text-align: left;
    }
}

.woocommerce-checkout .woocommerce-form-login {
    background: #f7f7f7;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.woocommerce .lost_reset_password {
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 55px auto 0;
    padding: 30px 15px;
    
    .woocommerce-form-row {
        margin: 0 auto;
        float: none;
        text-align: center;
        
        label {
            text-align: left;
        }
    }
    
    button[type="submit"] {
        transform: none;
        left: 0;
        margin: 20px auto;
        font-size: 1em;
    }
    
    @media screen and (min-width: 48em) {
        margin: 55px auto 0;
    }
}

/* Login form */
.woocommerce .woocommerce-form-login {
    
    .form-row {
        margin-bottom: 5px;
    }
    
    .lost_password a,
    .form-row label {
        font-size: .9;
    }
    
    button[type="submit"] {
        display: block;
        margin: 30px auto 20px;
        width: 100%;
    }
    
    @media screen and (min-width: 64em) {
        
        .form-row-first,
        .form-row-last {
            width: 100%;
            float: none;
        }
    }
}

.woocommerce-checkout .woocommerce-form-login {
    background: #f7f7f7;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.woocommerce .lost_reset_password {
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 30px auto;
    max-width: 600px;
    padding: 25px;
    
    p {
        text-align: left;
    }
    
    .woocommerce-form-row {
        margin: 0 auto;
        float: none;
        text-align: center;
        width: 100%;
        
        label {
            text-align: left;
        }
    }
    
    button[type="submit"] {
        transform: none;
        left: 0;
        margin: 20px auto;
        font-size: 1em;
        width: 100%;
    }
    
    @media screen and (min-width: 48em) {
        padding: 25px 50px;
    }
}