.woocommerce-error li,
.woocommerce-info,
.woocommerce-message
div.woocommerce-error {
    background: #888;
    padding: 15px;
    color: #fff;
    
    &:before {
        font-family: "icons-set";
        content: "\e90b";
        margin-right: 8px;
        font-size: 1.2em;
        vertical-align: middle;
    }
}

.woocommerce-error li,
div.woocommerce-error {
    background: #B53535;
    
    &:before {
        display: none;
    }
}