.shop_table_responsive {
    
    .button:before {
        font-family: "icons-set";
        margin-right: 5px;
        font-weight: 400;
    }
    
    .button {
        
        &.view {
        
            &:before {
                content: "\e913";
            }
    }
    
    &.fattureincloud-invoice{
        
            &:before {
                content: "\e90a";
            }    
        }
    }
}