.thankyou-success {
	margin: 80px 15px 0;
	position: relative;
	padding: 50px 15px 10px;

	&:before {
	    font-family: "icons-set";
		content: "\e902";
		position: absolute;
		font-size: 42px;
		line-height: 70px;
		background: #fff;
		border: 6px solid;
		height: 80px;
		width: 80px;
		text-align: center;
		border-radius: 80px;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	}
	
	.subtitle {
	    font-weight: bold;
	    text-decoration: underline;
	    text-align: center;
	}
	
	 @media screen and (min-width: 48em) {
		margin: 80px 40px 0;
		padding: 50px 40px 10px;
	 }
}

#order-thankyou {
	
	h2 {
		text-align: center;
		margin: 0;
		line-height: 1.2em;
        margin-bottom: .2em;
	}
	
	.woocommerce-bacs-bank-details {
		margin: 10px 0;
		padding: 20px 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		
		ul {
			margin-bottom: 0;
			
			li {
			    text-indent: -.6em;
			    padding-left: .6em;
			}
		}
		
		.wc-bacs-bank-details-heading {
			display: none;
		}
		
		.wc-bacs-bank-details-account-name {
			margin-top: 0;
		}
	}
	
	.order-more-info {
		margin-bottom: 15px;
	}
		
	.order-details-toggle  {
		background: none;
		box-shadow: none;
		color: #111;
		text-decoration: underline;
		text-transform: none;
		font-size: 1em;
		padding: 0;
		
		&:after {
			font-family: "icons-set";
			content: "\e900";
			margin-left: 8px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.woocommerce-order {
		background: #f9f9f9;
		padding: 15px;
		font-size: .9em;
		
		.woocommerce-notice--success {
			display: none;
		}
		
		h2 {
			text-align: left;
			font-weight: bold;
			font-size: 1.5em;
		}
		
		section {
			margin: 0;
		}
		
	    table {
	        text-align: left;
	        
	        th, td {
	            padding: 10px;
	        }
	        
	        tbody {
	            border-bottom: 1px solid #cfcfcf;
	            border-top: 1px solid #cfcfcf;
	        }
	        
	        tfoot {
	            background: none;
	            
	            tr:last-of-type {
	                border-top: 1px solid #f3f3f3;
	            }
	        }
	    }
	    
	    @media screen and (min-width: 48em) {
	    	
	    	&:after {
	    		@include clearfix();
	    		@include clearfix-after();
	    	}
	    	
	    	.woocommerce-order-overview,
	    	.woocommerce-order-details {
				width: 49%;
				float: left;
	    	}
	    }
	}
}

section.fb {
	margin-bottom: 0;
	margin: 50px 15px;
	
	.first-part {
	    margin-bottom: 20px;
		
		h2, p {
			margin: 0;
		}
		
		h2 {
			margin-bottom: 20px;
			font-size: 2.1em;
			padding-left: 60px;
			position: relative;
			text-align: left;
			font-weight: 400;
			line-height: 1.2em;
			
        	&:before {
        	    background: url(../images/fb_pulsante.png) center no-repeat;
        	    background-size: contain;
        	    content: "";
        	    width: 50px;
        	    height: 50px;
        	    color: #3b5998;
        	    position: absolute;
        	    left: 0;
        	    top: 0;
        	}
		}
	}
	
	.second-part {
		padding: 0;
		text-align: center;
	}
	
	.fb-page {
		display: block;
		
		span {
		    width: 100%;
		}
	}
	
	@media screen and (min-width: 48em) {
		display: table;
		vertical-align: middle;
		margin: 50px 70px;
		
		&:before {
		    top: 20px;
	        left: 0;
	        line-height: normal;
		}
		
		.first-part,
		.second-part {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}
	}
	
	@media screen and (min-width: 64em) {
	
	    .first-part {
	        padding-left: 0;
	    }
	}
}