@import url(../icons/style.css);
body.woocommerce.account .toggle-secondary,
body.sensei .toggle-secondary,
.page-template-private-area .toggle-secondary,
body.course-results .toggle-secondary {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background: none;
  box-shadow: none; }
  body.woocommerce.account .toggle-secondary:before,
  body.sensei .toggle-secondary:before,
  .page-template-private-area .toggle-secondary:before,
  body.course-results .toggle-secondary:before {
    content: "Menu"; }

body.woocommerce.account #secondary,
body.sensei #secondary,
.page-template-private-area #secondary,
body.course-results #secondary {
  padding: 20px 10px;
  position: fixed;
  width: 70%;
  max-width: 350px;
  right: -100%;
  top: 3.1em;
  bottom: 0;
  overflow: auto;
  z-index: 2;
  transition: right 0.8s ease-in-out; }
  body.woocommerce.account #secondary.open,
  body.sensei #secondary.open,
  .page-template-private-area #secondary.open,
  body.course-results #secondary.open {
    right: 0; }
  body.woocommerce.account #secondary #profile,
  body.sensei #secondary #profile,
  .page-template-private-area #secondary #profile,
  body.course-results #secondary #profile {
    text-align: center; }
    body.woocommerce.account #secondary #profile img,
    body.sensei #secondary #profile img,
    .page-template-private-area #secondary #profile img,
    body.course-results #secondary #profile img {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      width: 120px;
      height: 120px;
      font-family: "object-fit:cover";
      -o-object-fit: cover;
         object-fit: cover;
      display: block;
      margin: 0 auto; }
    body.woocommerce.account #secondary #profile .user-name,
    body.sensei #secondary #profile .user-name,
    .page-template-private-area #secondary #profile .user-name,
    body.course-results #secondary #profile .user-name {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      padding: 3px 8px;
      font-size: 1.3em;
      position: relative;
      top: -.7em; }
    body.woocommerce.account #secondary #profile .user-email,
    body.sensei #secondary #profile .user-email,
    .page-template-private-area #secondary #profile .user-email,
    body.course-results #secondary #profile .user-email {
      font-weight: bold; }
  body.woocommerce.account #secondary .woocommerce-MyAccount-navigation ul li,
  body.sensei #secondary .woocommerce-MyAccount-navigation ul li,
  .page-template-private-area #secondary .woocommerce-MyAccount-navigation ul li,
  body.course-results #secondary .woocommerce-MyAccount-navigation ul li {
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #eee;
    padding: 10px; }
    body.woocommerce.account #secondary .woocommerce-MyAccount-navigation ul li:before,
    body.sensei #secondary .woocommerce-MyAccount-navigation ul li:before,
    .page-template-private-area #secondary .woocommerce-MyAccount-navigation ul li:before,
    body.course-results #secondary .woocommerce-MyAccount-navigation ul li:before {
      display: none; }
    body.woocommerce.account #secondary .woocommerce-MyAccount-navigation ul li a,
    body.sensei #secondary .woocommerce-MyAccount-navigation ul li a,
    .page-template-private-area #secondary .woocommerce-MyAccount-navigation ul li a,
    body.course-results #secondary .woocommerce-MyAccount-navigation ul li a {
      font-weight: 400;
      text-decoration: none;
      font-size: 1em; }

@media screen and (min-width: 48em) {
  body.woocommerce.account .woocommerce-MyAccount-content,
  body.woocommerce.account .sensei-account,
  body.sensei .woocommerce-MyAccount-content,
  body.sensei .sensei-account,
  .page-template-private-area .woocommerce-MyAccount-content,
  .page-template-private-area .sensei-account,
  body.course-results .woocommerce-MyAccount-content,
  body.course-results .sensei-account {
    width: 69%;
    float: right; }
  body.woocommerce.account .toggle-secondary,
  body.sensei .toggle-secondary,
  .page-template-private-area .toggle-secondary,
  body.course-results .toggle-secondary {
    display: none; }
  body.woocommerce.account #secondary,
  body.sensei #secondary,
  .page-template-private-area #secondary,
  body.course-results #secondary {
    float: left;
    width: 30%;
    position: static; }
    body.woocommerce.account #secondary .woocommerce-MyAccount-navigation,
    body.sensei #secondary .woocommerce-MyAccount-navigation,
    .page-template-private-area #secondary .woocommerce-MyAccount-navigation,
    body.course-results #secondary .woocommerce-MyAccount-navigation {
      width: 100%;
      float: none; } }

body.woocommerce-checkout {
  /* Woocommerce info */ }
  body.woocommerce-checkout .site-content {
    padding: 0 15px; }
  body.woocommerce-checkout h1 {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden; }
  body.woocommerce-checkout .woocommerce-info {
    background: #f3f3f3;
    padding: 20px 15px;
    text-align: center;
    margin-top: 30px; }
    body.woocommerce-checkout .woocommerce-info a {
      display: block; }
  body.woocommerce-checkout .woocommerce-checkout-payment {
    padding: 20px 15px;
    background: #f3f3f3; }
    body.woocommerce-checkout .woocommerce-checkout-payment ul li {
      margin-bottom: 10px; }
      body.woocommerce-checkout .woocommerce-checkout-payment ul li:before {
        display: none; }
    body.woocommerce-checkout .woocommerce-checkout-payment .payment_method_ppec_paypal img {
      vertical-align: middle; }
    body.woocommerce-checkout .woocommerce-checkout-payment fieldset {
      border: none; }
    body.woocommerce-checkout .woocommerce-checkout-payment button {
      display: block;
      width: 100%; }
  body.woocommerce-checkout h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px; }
  @media screen and (min-width: 48em) {
    body.woocommerce-checkout article.page form.woocommerce-checkout:after {
      content: "";
      display: table;
      table-layout: fixed;
      clear: both; }
    body.woocommerce-checkout article.page #customer_details h3,
    body.woocommerce-checkout article.page #order_review h3 {
      margin-top: 0; }
      body.woocommerce-checkout article.page #customer_details h3#checkout_payment_heading,
      body.woocommerce-checkout article.page #order_review h3#checkout_payment_heading {
        margin-top: 1em; }
    body.woocommerce-checkout article.page #customer_details {
      width: 49%;
      float: left; }
    body.woocommerce-checkout article.page #order_review {
      width: 49%;
      float: right;
      clear: right; } }

#checkout_heading {
  text-align: center;
  font-weight: bold; }
  #checkout_heading:before {
    font-family: "icons-set";
    content: "\e90f";
    font-size: .8em;
    margin-right: 10px; }

.checkout-warranty {
  clear: both;
  margin: 30px auto; }

i.stripe-pf-mastercard:before,
i.stripe-pf-american-express:before,
i.stripe-pf-visa:before {
  content: "";
  height: 25px;
  width: 40px;
  display: inline-block;
  background-size: contain;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-position: center; }

i.stripe-pf-mastercard:before {
  background-image: url(../images/mastercard.png); }

i.stripe-pf-american-express:before {
  background-image: url(../images/american-express.jpeg);
  width: 25px; }

i.stripe-pf-visa:before {
  background-image: url(../images/visa.png); }

.wc-payment-form {
  padding: 0; }
  .wc-payment-form .form-row {
    margin-top: 10px;
    position: relative; }

/*-------- CVC tooltip ---------*/
.find-your-cvc-show {
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  cursor: pointer; }
  .find-your-cvc-show:before {
    font-family: "icons-set";
    content: "\e912";
    position: absolute;
    right: 0;
    text-indent: 0;
    z-index: 1; }

#find-your-cvc {
  display: none;
  font-size: .8em;
  background: #fff;
  margin-top: 10px;
  padding: 5px 15px 15px;
  font-weight: normal;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1); }
  #find-your-cvc p {
    margin-top: 5px; }
  #find-your-cvc.tooltip-show {
    display: block; }
  #find-your-cvc .close {
    display: block;
    text-indent: -9999px;
    position: relative;
    top: 0;
    right: 0;
    padding: 0 15px;
    cursor: pointer; }
    #find-your-cvc .close:before {
      font-family: "icons-set";
      content: "\e908";
      position: absolute;
      right: 0;
      text-indent: 0;
      z-index: 1;
      font-size: 1.2em;
      color: #ccc;
      font-weight: normal; }
  #find-your-cvc img {
    max-width: 250px;
    display: block;
    margin: 0 auto; }
  @media screen and (min-width: 32em) {
    #find-your-cvc {
      position: absolute;
      width: 300px;
      margin-top: 0;
      right: 0;
      bottom: 7em;
      border-radius: 5px; }
      #find-your-cvc:after {
        content: "";
        border-top: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        right: 0; } }

.woocommerce-cart .site-content {
  padding: 0 15px; }

.woocommerce-cart .shop_table.cart {
  border: none; }
  .woocommerce-cart .shop_table.cart a {
    text-decoration: none; }
  .woocommerce-cart .shop_table.cart tr:nth-of-type(even) {
    background: none; }
  .woocommerce-cart .shop_table.cart tbody tr.cart_item {
    position: relative;
    min-height: 140px;
    padding: 10px 50px 10px 120px;
    border-top: 1px solid #f5f5f5; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item td {
      border: none;
      padding-left: 0;
      text-align: left;
      padding: 5px 0; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item td:before {
      display: none; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item .product-thumbnail {
      width: 100px;
      height: 120px;
      position: absolute;
      left: 10px;
      top: 10px;
      font-family: "object-fit:contain";
      -o-object-fit: contain;
         object-fit: contain; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item .product-quantity input[type="number"] {
      max-width: 150px; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item .product-remove {
      position: absolute;
      right: 10px; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item .product-subtotal {
      font-weight: bold; }
      .woocommerce-cart .shop_table.cart tbody tr.cart_item .product-subtotal:before {
        content: attr(data-title) ":";
        display: inline-block;
        width: auto;
        background: none;
        position: static;
        padding: 0;
        margin-right: 5px;
        font-weight: 200; }
  .woocommerce-cart .shop_table.cart .actions {
    padding: 0; }
    .woocommerce-cart .shop_table.cart .actions:before {
      display: none; }
    .woocommerce-cart .shop_table.cart .actions button[type="submit"] {
      float: right;
      margin: 20px 0; }
  @media screen and (min-width: 48em) {
    .woocommerce-cart .shop_table.cart .site-content {
      padding: 0 25px; }
    .woocommerce-cart .shop_table.cart thead {
      display: none; }
    .woocommerce-cart .shop_table.cart tbody tr.cart_item {
      display: block; }
      .woocommerce-cart .shop_table.cart tbody tr.cart_item td {
        display: block; } }

.woocommerce-cart .cart-collaterals {
  background: #f5f5f5;
  padding: 15px;
  margin-top: 30px; }
  .woocommerce-cart .cart-collaterals h2 {
    font-size: 1.5em;
    font-weight: bold; }
  .woocommerce-cart .cart-collaterals table.shop_table_responsive tr {
    border-top: none; }
    .woocommerce-cart .cart-collaterals table.shop_table_responsive tr td:before {
      background: none; }
  .woocommerce-cart .cart-collaterals table.shop_table_responsive th {
    display: none; }
  .woocommerce-cart .cart-collaterals table.shop_table_responsive .order-total {
    font-size: 1.3em;
    vertical-align: top; }
    .woocommerce-cart .cart-collaterals table.shop_table_responsive .order-total .includes_tax {
      display: block;
      line-height: 1em; }

.woocommerce-cart .checkout-button {
  display: block;
  width: 100%;
  margin: 15px 0; }

@media screen and (min-width: 48em) {
  .woocommerce-cart .shop_table.cart {
    float: left;
    width: 59%; }
  .woocommerce-cart .cart-collaterals {
    width: 39%;
    float: right;
    clear: right;
    margin-top: 0; }
    .woocommerce-cart .cart-collaterals h2 {
      margin-top: 0; }
    .woocommerce-cart .cart-collaterals table.shop_table_responsive th {
      display: table-cell; } }

.woocommerce table {
  width: 100%; }
  .woocommerce table tbody td {
    padding: 25px 12px; }
  .woocommerce table .chained_item td {
    padding: 15px 12px; }
  .woocommerce table tfoot {
    background: #f5f5f5; }
    .woocommerce table tfoot tr:first-of-type th, .woocommerce table tfoot tr:first-of-type td {
      border-top: none; }

.price {
  font-size: 1.5em;
  font-weight: bold; }
  .price del {
    position: relative;
    padding: 0 10px;
    text-decoration: none; }
    .price del:before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #B53535;
      -webkit-transform: rotate(-17deg) translateX(-50%);
      transform: rotate(-17deg) translateX(-50%);
      top: 0;
      left: 50%; }
  .price ins {
    color: #8bc53f;
    background: none; }

/*---------- Breadcrumbs ---------*/
.woocommerce-breadcrumb {
  background: #f5f5f5;
  padding: 10px 15px;
  margin: 20px 0;
  font-size: .9em; }

/*---------- Forms ---------*/
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
  width: 100%; }

@media screen and (min-width: 64em) {
  .woocommerce form .form-row-wide {
    clear: both; }
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last {
    width: 49%; }
  .woocommerce form .form-row-first {
    float: left; }
  .woocommerce form .form-row-last {
    float: right; } }

/*---------- Tabs ---------*/
.woocommerce-tabs {
  clear: both;
  padding: 20px 0; }
  .woocommerce-tabs ul.tabs {
    border-bottom: 1px solid #f0f0f0; }
    .woocommerce-tabs ul.tabs li {
      display: inline-block;
      margin: 0 2px;
      position: relative;
      bottom: -1px; }
      .woocommerce-tabs ul.tabs li a {
        text-decoration: none;
        padding: 10px 15px;
        background: #aaa;
        color: #fff;
        display: block; }
      .woocommerce-tabs ul.tabs li:before {
        display: none; }
      .woocommerce-tabs ul.tabs li.active {
        box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
        margin: 0;
        border-bottom: 1px solid #fff; }
        .woocommerce-tabs ul.tabs li.active a {
          background: #fff;
          color: #aaa; }

/*---------- Tables ---------*/
.woocommerce table {
  border-radius: 0;
  border: 1px solid #f5f5f5;
  text-align: left; }
  .woocommerce table tr {
    border-top: 1px solid #f5f5f5; }
  .woocommerce table th, .woocommerce table td {
    padding: 15px 10px;
    border-right: 1px solid #f5f5f5; }
    .woocommerce table th:last-child, .woocommerce table td:last-child {
      border-right: none; }
  .woocommerce table thead, .woocommerce table tfoot {
    font-weight: bold; }
  .woocommerce table tbody {
    background: #fff; }
    .woocommerce table tbody tr:nth-of-type(even) {
      background: #fbfbfb; }
  .woocommerce table tfoot {
    background: #f7f7f7; }
    .woocommerce table tfoot td, .woocommerce table tfoot th {
      padding: 15px 10px;
      border-right: 1px solid #f0f0f0; }
      .woocommerce table tfoot td:last-child, .woocommerce table tfoot th:last-child {
        border-right: none; }
  .woocommerce table.shop_table_responsive {
    font-size: .9em; }
    .woocommerce table.shop_table_responsive thead {
      display: none; }
    .woocommerce table.shop_table_responsive tbody tr {
      border-top: 1px solid #ddd;
      display: block; }
      .woocommerce table.shop_table_responsive tbody tr:first-of-type {
        border-top: none; }
      .woocommerce table.shop_table_responsive tbody tr td {
        padding: 0;
        position: relative;
        padding: 10px 15px;
        border-top: 1px solid #f5f5f5;
        padding-left: 50%;
        display: block;
        text-align: right;
        vertical-align: middle; }
        .woocommerce table.shop_table_responsive tbody tr td:before {
          content: attr(data-title) ": ";
          font-weight: 700;
          float: left;
          width: 50%;
          text-align: left;
          background: #f5f5f5;
          position: absolute;
          padding: 10px 15px;
          left: 0;
          top: 0;
          bottom: 0; }
    .woocommerce table.shop_table_responsive tbody .woocommerce-button {
      background: none;
      box-shadow: none;
      border-radius: 0;
      color: #f05a24;
      text-transform: none;
      padding: 0;
      display: block;
      text-align: right; }
    @media screen and (min-width: 48em) {
      .woocommerce table.shop_table_responsive thead {
        display: table-header-group; }
      .woocommerce table.shop_table_responsive thead, .woocommerce table.shop_table_responsive tr, .woocommerce table.shop_table_responsive tfoot {
        width: 100%; }
      .woocommerce table.shop_table_responsive tbody tr {
        display: table-row; }
        .woocommerce table.shop_table_responsive tbody tr td {
          display: table-cell;
          padding-left: 0;
          text-align: left;
          padding: 10px; }
          .woocommerce table.shop_table_responsive tbody tr td:before {
            display: none; } }

.woocommerce-checkout-payment {
  padding: 20px 25px; }

/*---------- Product cards ---------*/
.woocommerce ul.products,
.product-page-list {
  padding: 0 15px; }
  .woocommerce ul.products:after,
  .product-page-list:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both; }

.woocommerce .products .product,
.product-page-list .post-thumb {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 100%;
  padding: 20px 15px 30px;
  margin: 20px 0; }
  .woocommerce .products .product a,
  .product-page-list .post-thumb a {
    text-decoration: none; }
  .woocommerce .products .product img,
  .product-page-list .post-thumb img {
    height: 300px;
    width: 100%;
    font-family: "object-fit:contain";
    -o-object-fit: contain;
       object-fit: contain;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; }
  .woocommerce .products .product .price,
  .product-page-list .post-thumb .price {
    display: block;
    margin: 10px auto; }
  .woocommerce .products .product .button,
  .product-page-list .post-thumb .button {
    display: block;
    margin: 20px 0 0; }
  @media screen and (min-width: 48em) {
    .woocommerce .products .product,
    .product-page-list .post-thumb {
      width: 49%;
      float: left;
      margin: 0 0 20px; }
      .woocommerce .products .product:nth-of-type(2n + 2),
      .product-page-list .post-thumb:nth-of-type(2n + 2) {
        margin-left: 2%;
        clear: right; } }

.woocommerce .products .product {
  position: relative; }
  .woocommerce .products .product:before {
    display: none; }
  .woocommerce .products .product .woocommerce-loop-product__title {
    text-align: left;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold; }
  .woocommerce .products .product p {
    margin: 0; }
  @media screen and (min-width: 64em) {
    .woocommerce .products .product {
      width: 32%; }
      .woocommerce .products .product:nth-of-type(2n + 2) {
        margin-left: 0;
        clear: none; }
      .woocommerce .products .product:nth-of-type(3n + 2) {
        margin: 0 2%; }
      .woocommerce .products .product:nth-of-type(3n + 3) {
        clear: right; } }

.woocommerce-MyAccount-content .products {
  margin-top: 0; }
  @media screen and (min-width: 64em) {
    .woocommerce-MyAccount-content .products .product {
      width: 49%;
      float: left;
      margin: 0 0 20px; }
      .woocommerce-MyAccount-content .products .product:nth-of-type(2n + 2) {
        margin-left: 2%;
        margin-right: 0;
        clear: right; } }

.product-page-list .post-thumb .entry-header {
  padding: 0; }
  .product-page-list .post-thumb .entry-header h2 {
    text-align: left; }

.product-page-list .post-thumb .entry-title {
  font-size: 1.4rem; }

/*--------- Coupon form ---------*/
.woocommerce .checkout_coupon,
.woocommerce .coupon {
  background: #f7f7f7;
  text-align: center;
  padding: 15px; }
  .woocommerce .checkout_coupon p,
  .woocommerce .coupon p {
    margin: 0; }
  .woocommerce .checkout_coupon label,
  .woocommerce .coupon label {
    margin-bottom: 5px; }
  .woocommerce .checkout_coupon .button,
  .woocommerce .coupon .button {
    margin: 20px auto 10px;
    font-size: 1rem;
    padding: .5rem 1rem; }
  @media screen and (min-width: 64em) {
    .woocommerce .checkout_coupon,
    .woocommerce .coupon {
      text-align: left;
      padding: 30px 25px; }
      .woocommerce .checkout_coupon input[type="text"],
      .woocommerce .coupon input[type="text"] {
        width: 400px; }
      .woocommerce .checkout_coupon .form-row-first,
      .woocommerce .checkout_coupon .form-row-last,
      .woocommerce .coupon .form-row-first,
      .woocommerce .coupon .form-row-last {
        width: auto;
        float: left; }
      .woocommerce .checkout_coupon .button,
      .woocommerce .coupon .button {
        margin: 0 0 0 10px; } }

/*----- Bonuses -----*/
.woocommerce .chained_items_container {
  padding: 0 15px;
  counter-reset: bonus-count; }
  .woocommerce .chained_items_container .product {
    position: relative;
    margin: 50px 15px;
    padding: 30px 20px 0;
    max-width: 800px;
    box-shadow: none;
    margin-top: 0;
    counter-increment: bonus-count;
    background: #f4f4f4; }
    .woocommerce .chained_items_container .product img {
      margin: 0 auto;
      max-width: 300px; }
    .woocommerce .chained_items_container .product:before {
      content: "Bonus " counter(bonus-count);
      position: absolute;
      top: -20px;
      display: block;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      padding: 0 10px;
      left: 55px;
      background: #aaa; }
    .woocommerce .chained_items_container .product .woocommerce-loop-product__title {
      font-size: 1.8em;
      text-transform: uppercase;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 10px;
      line-height: 1em;
      text-align: center; }
    .woocommerce .chained_items_container .product p {
      margin-top: 5px; }
    .woocommerce .chained_items_container .product .price {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.3em; }
      .woocommerce .chained_items_container .product .price del {
        display: block;
        color: #9f9f9f;
        position: relative;
        font-size: 1.5em;
        width: 4em;
        margin: 0 auto; }
        .woocommerce .chained_items_container .product .price del:after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          -webkit-transform: rotate(-17deg) translateX(-50%);
                  transform: rotate(-17deg) translateX(-50%);
          top: 0;
          left: 50%; }
    .woocommerce .chained_items_container .product .free-label {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      padding: 8px;
      position: relative;
      display: block;
      margin-left: -20px;
      margin-right: -20px;
      text-transform: uppercase;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 30px;
      background: #8bc53f; }
    @media screen and (min-width: 48em) {
      .woocommerce .chained_items_container .product {
        max-width: 48em;
        margin: 50px auto; } }
    @media screen and (min-width: 64em) {
      .woocommerce .chained_items_container .product {
        width: 30%;
        float: left;
        margin: 50px 1%; }
        .woocommerce .chained_items_container .product img {
          height: 300px;
          max-width: 100%;
          font-family: "object-fit:contain";
          -o-object-fit: contain;
             object-fit: contain; }
        .woocommerce .chained_items_container .product:nth-of-type(2n + 2) {
          margin-top: 50px; } }

.shop_table_responsive .button:before {
  font-family: "icons-set";
  margin-right: 5px;
  font-weight: 400; }

.shop_table_responsive .button.view:before {
  content: "\e913"; }

.shop_table_responsive .button.fattureincloud-invoice:before {
  content: "\e90a"; }

#affwp-affiliate-dashboard {
  text-align: left; }
  #affwp-affiliate-dashboard h4, #affwp-affiliate-dashboard h5 {
    font-weight: 400;
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 20px; }
  #affwp-affiliate-dashboard p {
    margin-top: 0; }
  #affwp-affiliate-dashboard .url-referral {
    font-weight: bold; }
    #affwp-affiliate-dashboard .url-referral:before {
      font-family: "icons-set";
      content: "\e914";
      margin-right: 5px;
      font-size: .8em; }
  #affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs {
    text-align: center; }
    #affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li:before {
      content: "|";
      color: #aaa; }
    #affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li:first-of-type:before {
      display: none; }
    #affwp-affiliate-dashboard #affwp-affiliate-dashboard-tabs li.active a {
      color: #1d1d1b; }
  #affwp-affiliate-dashboard table td {
    padding: 12px; }
  #affwp-affiliate-dashboard ol li {
    text-indent: -1.2em;
    padding-left: 1.2em; }
  #affwp-affiliate-dashboard .referral-url {
    display: block;
    margin: 60px auto 10px;
    border: 2px solid;
    padding: 50px 15px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    position: relative;
    max-width: 600px; }
    #affwp-affiliate-dashboard .referral-url:before {
      display: block;
      font-family: "icons-set";
      content: "\e914";
      font-weight: 200;
      font-size: 38px;
      border: 2px solid;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      position: absolute;
      border-radius: 50px;
      top: -35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #fff; }
    #affwp-affiliate-dashboard .referral-url strong {
      font-weight: 200;
      font-size: .7em;
      display: block;
      margin-top: 10px; }
    #affwp-affiliate-dashboard .referral-url:before {
      font-family: "icons-set";
      content: "\e914"; }
  #affwp-affiliate-dashboard .share-buttons {
    text-align: center;
    margin: 0 0 30px; }
  #affwp-affiliate-dashboard .whatsapp-share {
    background: #25D366;
    color: #fff;
    font-size: .9em;
    text-decoration: none;
    padding: 4px 6px 5px;
    border-radius: 4px;
    position: relative;
    top: -2px;
    transition: background  .2s ease-in-out; }
    #affwp-affiliate-dashboard .whatsapp-share:before {
      font-family: "icons-set";
      content: "\e915";
      margin-right: 5px; }
    #affwp-affiliate-dashboard .whatsapp-share:hover {
      background: #20c15b; }
  #affwp-affiliate-dashboard .highlighted {
    font-style: normal;
    font-size: 1.1em; }
  #affwp-affiliate-dashboard #affwp-affiliate-dashboard-profile .affwp-wrap {
    margin: 25px 0; }
    #affwp-affiliate-dashboard #affwp-affiliate-dashboard-profile .affwp-wrap label {
      display: inline-block; }
  #affwp-affiliate-dashboard #affwp-graphs-filter input[type="submit"] {
    left: 0;
    -webkit-transform: none;
            transform: none;
    box-shadow: none;
    padding: .3em 1em;
    font-size: .9em; }

.woocommerce-account h2 {
  font-weight: 600;
  margin: 0 0 20px;
  font-size: 2.5em;
  text-align: center;
  padding-top: 20px; }

.woocommerce-account .login-form {
  max-width: 600px;
  margin: 60px auto 40px;
  padding: 25px 25px 10px;
  position: relative;
  font-size: .9em; }
  .woocommerce-account .login-form h2 {
    font-size: 2.3em; }
  .woocommerce-account .login-form .woocommerce-form-login {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0; }
    .woocommerce-account .login-form .woocommerce-form-login button[type="submit"] {
      display: block;
      margin: 30px auto 20px;
      width: 100%; }
  .woocommerce-account .login-form .lost_password {
    text-align: center;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%; }
  @media screen and (min-width: 48em) {
    .woocommerce-account .login-form {
      margin: 20px auto 40px; } }

.woocommerce-account.logged-in .button {
  padding: .5em 1em;
  font-size: 1em; }

.woocommerce-account.logged-in fieldset {
  background: #f9f9f9;
  border: none;
  padding: 20px 15px;
  margin: 20px 0 0 0; }
  .woocommerce-account.logged-in fieldset legend {
    display: none; }

.woocommerce-account.logged-in label {
  line-height: normal;
  margin-bottom: 5px; }
  .woocommerce-account.logged-in label .required {
    color: #B53535; }

.woocommerce-account #user-avatar,
.woocommerce-account #edit-address,
.woocommerce-account #payment-methods {
  margin: 0 auto; }
  .woocommerce-account #user-avatar h2,
  .woocommerce-account #edit-address h2,
  .woocommerce-account #payment-methods h2 {
    font-weight: 400;
    font-size: 1.8em; }

.woocommerce-account #user-avatar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  .woocommerce-account #user-avatar #wpua-undo-existing {
    background: none;
    box-shadow: none;
    text-decoration: underline;
    padding: 0;
    color: inherit; }
  .woocommerce-account #user-avatar #wpua-upload-messages-existing span {
    display: block;
    font-size: .9em; }
  .woocommerce-account #user-avatar #wpua-file-existing {
    background: #f9f9f9;
    padding: 15px;
    line-height: 1em;
    margin-bottom: 10px;
    max-width: 100%; }
    .woocommerce-account #user-avatar #wpua-file-existing + button {
      margin-left: 10px; }
  .woocommerce-account #user-avatar #wpua-undo-existing:before {
    font-family: "icons-set";
    content: "\e909";
    display: inline-block;
    margin-right: 5px; }

.woocommerce-account #edit-address {
  border-bottom: 1px solid #eee; }
  .woocommerce-account #edit-address .woocommerce-Address address {
    font-style: normal; }

.woocommerce-account #payment-methods {
  margin-bottom: 30px; }

@media screen and (min-width: 48em) {
  .woocommerce-account h2 {
    font-size: 2.5em; } }

.post-type-archive-product .site-content {
  padding: 0 15px; }
  .post-type-archive-product .site-content .products {
    margin-top: 50px; }

@media screen and (min-width: 48em) {
  .post-type-archive-product .site-content {
    padding: 0 25px; } }

.downloads.download-button {
  margin: 0; }
  .downloads.download-button li:before {
    display: none; }
  .downloads.download-button li a {
    margin: 20px 0 0;
    background: #8bc53f;
    box-shadow: 0 4px 0 #769b35;
    display: block;
    padding: .6em 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: .9em;
    text-align: center;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    color: #fff;
    text-decoration: none; }
    .downloads.download-button li a:hover {
      background: #84bc3a; }
    .downloads.download-button li a:focus {
      background: #769b35; }

.single-product .product.post {
  position: relative; }

.single-product .woocommerce-product-gallery {
  padding-left: 15px; }
  .single-product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
    margin: 0; }
  .single-product .woocommerce-product-gallery img {
    display: block; }

.single-product .onsale {
  font-weight: bold;
  background: #8bc53f;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  left: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

.single-product .summary {
  background: #f9f9f9;
  padding: 20px 15px;
  margin: 0; }
  .single-product .summary .product_title {
    text-align: left;
    font-size: 1.5em;
    margin: 0 0 10px; }
  .single-product .summary .price {
    margin: 10px 0; }
  .single-product .summary .single_add_to_cart_button {
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 20px 0; }
  .single-product .summary .quantity input[type="number"] {
    max-width: 150px; }

.single-product .panel,
.single-product .products {
  clear: both; }
  .single-product .panel > h2,
  .single-product .products > h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eee; }

.single-product #section-additional_information,
.single-product #section-reviews,
.single-product .products {
  padding: 0 15px;
  margin: 30px 0; }

.single-product .products .product {
  background: #f9f9f9; }
  .single-product .products .product img {
    height: 200px; }
  .single-product .products .product .button {
    padding: .6em 1em; }

@media screen and (min-width: 30em) {
  .single-product .woocommerce-product-gallery,
  .single-product .summary {
    float: left; }
  .single-product .woocommerce-product-gallery {
    width: 50%;
    position: relative;
    z-index: 1; }
  .single-product .summary {
    width: 50%;
    position: relative;
    clear: right;
    border-right: 15px solid #fff; }
    .single-product .summary .entry-title {
      font-weight: normal; }
    .single-product .summary .single_add_to_cart_button {
      display: inline-block;
      width: auto; } }

@media screen and (min-width: 64em) {
  .single-product .woocommerce-product-gallery {
    padding-left: 40px; }
  .single-product .summary {
    border-right: 40px solid #fff; }
  .single-product #section-additional_information,
  .single-product #section-reviews,
  .single-product .products {
    padding: 0 40px; } }

.thankyou-success {
  margin: 80px 15px 0;
  position: relative;
  padding: 50px 15px 10px; }
  .thankyou-success:before {
    font-family: "icons-set";
    content: "\e902";
    position: absolute;
    font-size: 42px;
    line-height: 70px;
    background: #fff;
    border: 6px solid;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 80px;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .thankyou-success .title,
  .thankyou-success .subtitle {
    text-align: center; }
  .thankyou-success .title {
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: normal; }
  .thankyou-success .subtitle {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
    margin-top: 0 !important; }
  @media screen and (min-width: 48em) {
    .thankyou-success {
      margin: 80px 40px 0;
      padding: 50px 40px 10px; } }

#order-thankyou h2 {
  text-align: center;
  margin: 0;
  line-height: 1.2em;
  margin-bottom: .2em; }

#order-thankyou .woocommerce-bacs-bank-details {
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  #order-thankyou .woocommerce-bacs-bank-details ul {
    margin-bottom: 0; }
    #order-thankyou .woocommerce-bacs-bank-details ul li {
      text-indent: -.6em;
      padding-left: .6em; }
  #order-thankyou .woocommerce-bacs-bank-details .wc-bacs-bank-details-heading {
    display: none; }
  #order-thankyou .woocommerce-bacs-bank-details .wc-bacs-bank-details-account-name {
    margin-top: 0; }

#order-thankyou .woocommerce-order-details__title {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

#order-thankyou .order-more-info {
  margin-bottom: 15px; }

#order-thankyou .order-details-toggle {
  background: none;
  box-shadow: none;
  color: #111;
  text-decoration: underline;
  text-transform: none;
  font-size: 1em;
  padding: 0; }
  #order-thankyou .order-details-toggle:after {
    font-family: "icons-set";
    content: "\e900";
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle; }

#order-thankyou .woocommerce-order {
  background: #f9f9f9;
  padding: 15px;
  font-size: .9em; }
  #order-thankyou .woocommerce-order .woocommerce-notice--success {
    display: none; }
  #order-thankyou .woocommerce-order h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em; }
  #order-thankyou .woocommerce-order section {
    margin: 0; }
  #order-thankyou .woocommerce-order .woocommerce-order-details {
    margin-top: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0; }
  #order-thankyou .woocommerce-order table {
    text-align: left;
    padding: 10px;
    border: 1px solid #cfcfcf; }
    #order-thankyou .woocommerce-order table th, #order-thankyou .woocommerce-order table td {
      padding: 3px 10px; }
    #order-thankyou .woocommerce-order table tbody {
      border-bottom: 1px solid #cfcfcf;
      border-top: 1px solid #cfcfcf; }
    #order-thankyou .woocommerce-order table tfoot {
      background: none; }
      #order-thankyou .woocommerce-order table tfoot tr:last-of-type {
        border-top: 1px solid #f3f3f3; }
  @media screen and (min-width: 64em) {
    #order-thankyou .woocommerce-order:after {
      content: "";
      display: table;
      table-layout: fixed;
      clear: both; }
    #order-thankyou .woocommerce-order .woocommerce-order-overview,
    #order-thankyou .woocommerce-order .woocommerce-order-details {
      width: 32%;
      float: left; }
    #order-thankyou .woocommerce-order .woocommerce-order-details {
      border: none;
      padding: 0;
      margin: 0; } }

section.fb {
  margin-bottom: 0;
  margin: 50px 15px; }
  section.fb .first-part {
    margin-bottom: 20px; }
    section.fb .first-part h2, section.fb .first-part p {
      margin: 0; }
    section.fb .first-part h2 {
      margin-bottom: 20px;
      font-size: 2.1em;
      padding-left: 60px;
      position: relative;
      text-align: left;
      font-weight: 400;
      line-height: 1.2em; }
      section.fb .first-part h2:before {
        background: url(../images/fb_pulsante.png) center no-repeat;
        background-size: contain;
        content: "";
        width: 50px;
        height: 50px;
        color: #3b5998;
        position: absolute;
        left: 0;
        top: 0; }
  section.fb .second-part {
    padding: 0;
    text-align: center; }
  section.fb .fb-page {
    display: block; }
    section.fb .fb-page span {
      width: 100%; }
  @media screen and (min-width: 48em) {
    section.fb {
      display: table;
      vertical-align: middle;
      margin: 50px 70px; }
      section.fb:before {
        top: 20px;
        left: 0;
        line-height: normal; }
      section.fb .first-part,
      section.fb .second-part {
        display: table-cell;
        width: 50%;
        vertical-align: middle; } }
  @media screen and (min-width: 64em) {
    section.fb .first-part {
      padding-left: 0; } }

.thankyou-faq {
  background: #f9f9f9;
  padding: 20px 15px;
  margin: 20px 0; }
  .thankyou-faq h2 {
    font-size: 1.5em;
    margin-bottom: 0; }
    .thankyou-faq h2 + p {
      margin-top: 0; }
  @media screen and (min-width: 48em) {
    .thankyou-faq {
      padding: 15px 70px; } }

#woocommerce-login {
  max-width: 600px;
  margin: 20px auto 60px;
  padding: 25px 25px 10px;
  position: relative;
  font-size: .9em; }
  #woocommerce-login h2 {
    font-size: 2.3em; }
  #woocommerce-login ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    bottom: .2em; }
  #woocommerce-login .lost_password {
    text-align: center;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    width: 100%; }

form.register {
  max-width: 600px;
  margin: 0 auto 25px; }
  form.register .form-row {
    text-align: center; }
  form.register label {
    text-align: left; }

/* Login form */
.woocommerce .woocommerce-form-login {
  padding: 15px; }
  .woocommerce .woocommerce-form-login > .form-row,
  .woocommerce .woocommerce-form-login > p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
  .woocommerce .woocommerce-form-login .form-row {
    margin-bottom: 5px; }
  .woocommerce .woocommerce-form-login .lost_password a,
  .woocommerce .woocommerce-form-login .form-row label {
    font-size: .9; }
  .woocommerce .woocommerce-form-login button[type="submit"] {
    display: block;
    margin: 30px auto 20px;
    width: 100%;
    padding: .5em 1.2em; }
  @media screen and (min-width: 64em) {
    .woocommerce .woocommerce-form-login .form-row-first,
    .woocommerce .woocommerce-form-login .form-row-last {
      width: 100%;
      float: none; } }

.woocommerce-checkout .woocommerce-form-login {
  background: #f7f7f7;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }

.woocommerce .lost_reset_password {
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 55px auto 0;
  padding: 30px 15px; }
  .woocommerce .lost_reset_password .woocommerce-form-row {
    margin: 0 auto;
    float: none;
    text-align: center; }
    .woocommerce .lost_reset_password .woocommerce-form-row label {
      text-align: left; }
  .woocommerce .lost_reset_password button[type="submit"] {
    -webkit-transform: none;
            transform: none;
    left: 0;
    margin: 20px auto;
    font-size: 1em; }
  @media screen and (min-width: 48em) {
    .woocommerce .lost_reset_password {
      margin: 55px auto 0; } }

/* Login form */
.woocommerce .woocommerce-form-login {
  padding: 15px; }
  .woocommerce .woocommerce-form-login > .form-row,
  .woocommerce .woocommerce-form-login > p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
  .woocommerce .woocommerce-form-login .form-row {
    margin-bottom: 5px; }
  .woocommerce .woocommerce-form-login .lost_password a,
  .woocommerce .woocommerce-form-login .form-row label {
    font-size: .9; }
  .woocommerce .woocommerce-form-login button[type="submit"] {
    display: block;
    margin: 30px auto 20px;
    width: 100%;
    padding: .5em 1.2em; }
  @media screen and (min-width: 64em) {
    .woocommerce .woocommerce-form-login .form-row-first,
    .woocommerce .woocommerce-form-login .form-row-last {
      width: 100%;
      float: none; } }

.woocommerce-checkout .woocommerce-form-login {
  background: #f7f7f7;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }

.woocommerce .lost_reset_password {
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 55px auto 0;
  padding: 30px 15px; }
  .woocommerce .lost_reset_password .woocommerce-form-row {
    margin: 0 auto;
    float: none;
    text-align: center; }
    .woocommerce .lost_reset_password .woocommerce-form-row label {
      text-align: left; }
  .woocommerce .lost_reset_password button[type="submit"] {
    -webkit-transform: none;
            transform: none;
    left: 0;
    margin: 20px auto;
    font-size: 1em; }
  @media screen and (min-width: 48em) {
    .woocommerce .lost_reset_password {
      margin: 55px auto 0; } }

.woocommerce-error li,
.woocommerce-info,
.woocommerce-message,
div.woocommerce-error {
  background: #888;
  padding: 15px;
  color: #fff;
  line-height: normal; }
  .woocommerce-error li:before,
  .woocommerce-info:before,
  .woocommerce-message:before,
  div.woocommerce-error:before {
    font-family: "icons-set";
    content: "\e90b";
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle; }

.woocommerce-error li,
div.woocommerce-error {
  background: #B53535; }
  .woocommerce-error li:before,
  div.woocommerce-error:before {
    font-family: "icons-set";
    content: "\e90c";
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 1.2em;
    color: #fff; }

/*# sourceMappingURL=maps/frontend.css.map */
